.cardreportissue-wrapper, a:link, a:active, a:visited {
    border-radius: 20px 20px 20px 0px;
    width: 95px;
    padding: 5px 5px 7px 5px;
    font-size: small;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}