.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.footer-section {
    margin: 0 10px 0 10px;
    font-size: small;
}