.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px #3E2195;
}

.header-title {
    
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}