@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.issue-wrapper {
    color: white;
}

.issue-title {
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin: 0 0 10px 0;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

.issue-section-container {
    margin: 5px;
    text-align: left;
    margin: 0 20px 15px 20px;
}

.issue-center {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 5px 0 5px 0;
}

.issue-img {
    height: 70%;
    width: auto;
    margin: 10px;
}

.issue-modify-show {
    display: block;
}

.issue-modify-hide {
    display: none;
}

.issue-votes { 
    padding: 10px;
}

.issue-detail {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.issue-input { 
    width: 70%;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.308);
    padding: 5px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.685);
}

.issue-input2 {
    width: 65%;
}

.issue-detail2 {
    margin: 10px;
}