.cluster-marker {
    color: #fff;
    background: #3E2195;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.issue-marker {
    background: none;
    border: none;
}

.issue-marker img {
    width: 25px;
}