.cluster-marker {
    color: #fff;
    background: #3E2195;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.issue-marker-more-down {
    background: none;
    border: none;
    opacity: 0.5;
}

.issue-marker-more-up {
    background: none;
    border: none;
}

.issue-marker-more-up img {
    width: 25px;
}

.issue-marker-more-down img {
    width: 25px;
}