@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.reportissue-wrapper {
    height: 83vh;
}
.reportissue-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: left;
    margin: 0 30px 15px 30px;
}

.reportissue-title {
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin: 0 0 10px 0;
    text-align: left;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.reportissue-detail {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.reportissue-center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.reportissue-checkbox { 
    margin: 5px 0 0 0;
}

.reportissue-small {
    font-size: small;
    width: 100%;
}

.reportissue-input { 
    width: 70%;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.308);
    padding: 5px;
    margin: 0 0 5px 0;
    color: rgba(0, 0, 0, 0.685);
}

.reportissue-left-input {
    justify-content: flex-start;
}

.reportissue-photo { 
    width: 100px;
    height: auto;
}

.hide-photo { 
    display:hide;
}

.reportissue-left {
    text-align: left;
    margin: 20px 0 10px 0;
    width: 73%;
}

hr {
    border: solid 1px #3E2195;
    width: 100%;
}

@media screen and (min-width: 560px) {
.reportissue-left {
    width: 50%;
}
}